@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  direction: rtl;
}

.CENTER {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderSvg {
  width: 2rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.circle {
  fill: none;

  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

@media print {
  body * {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
  }

  .NO_PRINT {
    display: none;
  }

  #print {
    width: 100%;
    border-width: 0;
    margin: 0 !important;
  }

  #saleMonthInput {
    visibility: visible;
    border: none;
    width: fit-content;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    font-weight: bold;
  }

  #print,
  #print * {
    visibility: visible;
    resize: none;
  }

  #buyerName {
    border-width: 0;
  }

  input::placeholder,
  textarea::placeholder {
    display: none;
  }

  input[list]::-webkit-calendar-picker-indicator,
  input[list]::-webkit-list-button {
    display: none;
    opacity: 0 !important;
  }

  .NOTE {
    border-width: 1px !important;
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
  input::placeholder {
    color: transparent;
  }
  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
  textarea::placeholder {
    color: transparent;
  }
}
